/.vs
/NewNoteSPRemotePurchaseTerminalIntegration/bin
/NewNoteSPRemotePurchaseTerminalIntegration/obj
/NewNoteSPRemotePurchaseTerminalIntegration/.vs
/NewNoteSPRemotePurchaseTerminalIntegration.Lib/bin
/NewNoteSPRemotePurchaseTerminalIntegration.Lib/obj
/NewNoteSPRemotePurchaseTerminalIntegration.Console/bin
/NewNoteSPRemotePurchaseTerminalIntegration.Console/obj
/NewNoteSPRemotePurchaseTerminalIntegration.Console/.vs
/NewNoteSPRemotePurchaseTerminalIntegration.Lib
/VerifoneSPRemotePurchaseTerminalIntegration.Lib/nugetPackagePush.cmd
